<html>

<head>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div id="app1">
        <div> 
            <input type=text v-model="searchText" @keyup.enter="filterItems"/>
            <button @click="sortAscendingByYear">Latest - Oldest</button>
            <button @click="sortDescendingByYear">Oldest - Latest</button>
        </div>
        <p></p>
        <table>
            <thead>
                <tr>
                    <th v-for="item in columns">{{item}}</th>
                </tr>
                <tr v-for="entry in filterItems">
                    <td>{{entry.name}}</td>
                    <td>{{entry.year}}</td>
                </tr>


            </thead>

        </table>
        {{searchText}}
    </div>
    <script src="lesson2.js"></script>
</body>

</html>